---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			<p>
				www[.]domainone[.]uk is a collection of notes about the things that interest me. 
			</p>
			<p>
				[My GitHub Repo](https://github.com/m-xen)

				[My Homelab](/blog/home-lab.md)

				[Note-taking](/blog/notes.md)

				[My Folding@home donor profile](https://stats.foldingathome.org/donor/id/612281)

				[Wealth Inequality](/blog/wealth.md)

				[Contact](/about.md) 
			</p>
		</main>
		<Footer />
	</body>
</html>
# Welcome



 
  
## 禅  