---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				www[.]domainone[.]uk is a collection of notes about the things that interest me. 
			</p>
			<p>
				<a href="https://github.com/m-xen">My GitHub Repo</a>
			</p>
			<p>
				<a href="/blog/home-lab">My Homelab</a>
			</p>
			<p>
				<a href="/blog/notes">Note-taking</a>
			</p>
			<p>
				<a href="https://stats.foldingathome.org/donor/id/612281">My Folding@home donor profile</a>
			</p>
			<p>
				<a href="/blog/wealth">Wealth Inequality</a>
			</p>
			<p>
				<a href="/about">Wealth Inequality</a>
			</p>
		</main>
		<Footer />
	</body>
</html>