---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img src="/spaceman.jpg" alt="Astro-naut" />
			<p>
				www[.]domainone[.]uk is my collection of notes & links. 
			</p>
			<p>
				<a href="https://github.com/m-xen" target="_blank" rel="noopener noreferrer">My GitHub Repo</a>
			</p>
			<p>
				<a href="https://stats.foldingathome.org/donor/id/612281" target="_blank" rel="noopener noreferrer">My Folding@home donor profile</a>
			</p>
			<p>
				<a href="/blog/homeit">Home IT</a>
			</p>
			<p>
				<a href="/trading">Trading & Investing</a>
			</p>
			<p>
				<a href="/blog/notes">Note-taking</a>
			</p>
			<p>
				<a href="/blog/wealth">Wealth Inequality</a>
			</p>
			<p>
				<a href="/blog/contact">Contact</a>
			</p>
		</main>
		<Footer />
	</body>
</html>