---
import Layout from '../layouts/Trading.astro';
---

<Layout
	title="Trading & Investing"
	description="Links and tools for trading financial markets"
	pubDate={new Date('April 24 2025')}
	heroImage="/trading.jpg">
	
	<div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;">
	<span style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar & Techincal Analysis provided by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span>
	</div>
	<div class="investingdotcom">
  		<div class="investingdotcom-widget-news" style="display:inline-flex">
			<iframe id="news"
				src="https://sslecal2.investing.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&features=datepicker,timezone&countries=4,5&calType=day&timeZone=15&lang=1" 
				width="650" 
				height="467"
				frameborder="0" 
				allowtransparency="true" 
				marginwidth="0" 
				marginheight="0">
			</iframe>
		</div>

		<input type="button"
			id="btn"
			value="Refresh Now!"/>

		<script>
			function reload() {
				document.getElementById('news').src += '';
				document.getElementById('allnums').src += '';
				document.getElementById('somenums').src += '';
				window.location.reload();
			}
			btn.onclick = reload;
		</script>
	</div>

	<!-- TradingView Widget BEGIN -->
	<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener nofollow" target="_blank"><span class="blue-text">Ticker tape</span></a><span class="trademark"> by TradingView</span></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
	{
	"symbols": [
		{
		"proName": "FOREXCOM:SPXUSD",
		"title": "S&P 500 Index"
		},
		{
		"proName": "FOREXCOM:NSXUSD",
		"title": "US 100 Cash CFD"
		},
		{
		"proName": "TVC:GOLD",
		"title": "Gold"
		}
	],
	"colorTheme": "dark",
	"locale": "en",
	"largeChartUrl": "",
	"isTransparent": false,
	"showSymbolLogo": true,
	"displayMode": "adaptive"
	}
	</script>
	</div>
	<!-- TradingView Widget END -->
	
</Layout>
